extends ./layout

block scripts
    script(src='/javascripts/predictions.js')

block content
    span#prediction-data.hidden(data-season = '#{initialSeason}' data-week = '#{initialWeek}')
    div.container-fluid
        div.row
            div.col-xs-12.text-center
                .btn-group(role='group', aria-label='prediction-selector')
                    .btn-group(role='group')
                        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown',
                        aria-haspopup='true', aria-expanded='false')
                            | Seasons
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='#') 2015
                    - for (var i = 1; i < 18; i++) {
                        if initialWeek == i
                            button.btn.btn-default.week-button.active(type='button' id=i)= i
                        else
                            button.btn.btn-default.week-button(type='button' id=i)= i
                    - }
        div.row
            div.col-xs-12.col-md-8.col-md-offset-2
                div.page-header.text-center
                    h1 Predictions
                        small.prediction-subheader 2015, Week 17
        div.row
            div.col-xs-12.col-md-10.col-md-offset-1.prediction-list
    script#prediction(type='text/x-handlebars-template').
        {{#equal predicted_winner_id actual_winner_id}}
            <div class="prediction-container correct-prediction">
        {{else}}
            <div class="prediction-container">
        {{/equal}}
            <div class="away-team-container">
                <div class="away-team-img-container"><img src="/images/{{away_team_abbr}}-min.png" class="away-team-img"/></div>
                <div class="away-team-info-container">
                    <h1 class="away-team-name">{{away_team_name}}<small class="away-team-abbr">{{away_team_abbr}}</small></h1>
                    {{#equal predicted_winner_id away_team_id}}
                        <span class="label label-success prediction-label">Predicted Winner</span>
                    {{/equal}}
                    <div class="label-clear"></div>
                    {{#equal actual_winner_id away_team_id}}
                        <span class="label label-primary prediction-label">Actual Winner</span>
                    {{/equal}}
                </div>
            </div>
            <div class="prediction-info-container">
                <p class="at-symbol">@</p>
                <div class="probability-container">
                    <b>Confidence:</b>
                    {{probability}}
                </div>
            </div>
            <div class="home-team-container">
                <div class="home-team-img-container"><img src="/images/{{home_team_abbr}}-min.png" class="home-team-img"/></div>
                <div class="home-team-info-container">
                    <h1 class="home-team-name">{{home_team_name}}<small class="home-team-abbr">{{home_team_abbr}}</small></h1>
                    {{#equal predicted_winner_id home_team_id}}
                        <span class="label label-success prediction-label">Predicted Winner</span>
                    {{/equal}}
                    <div class="label-clear"></div>
                    {{#equal actual_winner_id home_team_id}}
                        <span class="label label-primary prediction-label">Actual Winner</span>
                    {{/equal}}
                </div>
            </div>

        </div>